<div class="ui-state container" id="team">
   <h1>Design</h1>
   <div class="gallery container flex">
      <div class="section" style  = "width: 220px;height: 310px;">
         <img src="/img/profiles/AmartyaChakraborty.jpg"/>
         <h2 style="margin-top: 10px;">Amartya Chakraborthy</h2>
         <h3>Head of design</h3>
      </div>
      <div class="section" style  = "width: 220px;height: 310px;">
         <img src="/img/profiles/Kartikay.jpg"/>

         <h2 style="margin-top: 10px;">Kartikay Kataria</h2>
         <h3>Head of design</h3>
      </div>
      <div class="section" style  = "width: 220px;height: 310px;">
         <img src="/img/profiles/PulakGautam.jpg"/>
         <h2>Pulak Gautam</h2>
         <h3>Head Of Audio Engineering</h3>
         
      </div>
      <div class="section" style  = "width: 220px;height: 310px;">
         <img src="/img/profiles/MantekSingh.jpg"/>
         <h2>Mantek Singh Burn</h2>
         <h3>Head Of A/V Editing & Logistics</h3>
      </div>
      <div class="section" style  = "width: 220px;height: 310px;">
         <img src="/img/profiles/ShoryaMehra.jpg"/>
         <h2>Shorya Mehra</h2>
         <h3>Head Of A/V Editing & Logistics</h3>
      </div>
      
     <h1 style="width: 100%; margin-top: 30px">Members</h1>
      
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Dia Bhalothia</h2>
         <h3>Member</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Kaustabh Bansal</h2>
         <h3>Member</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Ketan Kumar</h2>
         <h3>Member</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Mudith Agarwala</h2>
         <h3>Member</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Keshav Ananth</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Ashlyn Bansal</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Anvee Choudary</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Kushagra Ganesh</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Gayatri</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Advika Gupta</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Harnoor</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Aryaa jha</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Jeffin Joseph</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Jaskiran Kaur</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Aniket kumar</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Jaskirat Singh</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Shaurya Midha</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Naina Singh</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Dhimant Nath</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Tanvi Pathak</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Vihaan Pathak</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Abhinav Raj</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Aviral Sachdeva</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Chirag Sehgal</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Kiyarra Sharma</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Simar Tandon</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Tanush</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>
Eshaan Vijay</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Arnav Whig</h2>
         <h3>Member</h3>
      </div>
   </div>
</div>
<a ui-sref="home">↤ Home</a>
