<style type="text/css">
   h3 {
   font-family: Ubuntu;
   font-size: 1.1em;
   color: #A0A0A0;
   font-weight: bold;
   padding-top: 10px;
   }
</style>
<div class="ui-state container" id="events">
   <h1>Events</h1>
   <div class="hr"></div>
   <div class="section" id="beta-test">
      <h2>Beta-test</h2>
      <h3>Team event</h3>
      <p>Joining the holy trinity of events, we have this year, our very own cryptic hunt. Breaking the conventional 'input box' format, Beta-Test is a scavenger hunt incorporating answers and puzzles from throughout the internet and the rest is cryptic.</p>
      <p>• Beta-Test starts on the 2nd October, 2019 continues for the next 48 hours.
         • Details can be found at www.projectbeta.tech
         • Any number of participants can participate from each team.
         • Points are awarded for every level cleared and bonus points are awarded to the teams placing 1st and 2nd.
      </p>
   </div>
   <div class="section" id="in-vested-interests">
      <h2>(in)Vested Interests</h2>
      <p>Based on the popular competition, "TechCrunch...", this business pitching competition will give budding tech entrepreneurs the opportunity to pitch their ideas in front of 5 experienced panelists. They will also be given the chance to fight for the title of  '(name of the title)'.</p>
      <h3>Prelims</h3>
      <p>• Participating schools are to send in a 1-2 page description of the product/service idea by 31st September '19.
         • 8 teams will be chosen for the on-stage round.
      </p>
      <h3>On-site round</h3>
      <p>• Participating schools are requested to present their ideas to an audience and the panel for 10 minutes.
         • This will be followed up by a 5 minute Q&A round by the panelists.
         • Relevant sub-headings are allowed & appreciated
         • The results will be based on the practicality and originality of the idea, the presentation, innovation and design.
      </p>
   </div>
   <div class="section" id="function-overload">
      <h2>func(64 Wit)</h2>
      <p>This is an amalgamation of two quintessential tech events, quiz and competitive programming. A team of 4 members (2 programmers + 2 quizzers) will be battling it out to attain the highest score.</p>
      <h3>On-site prelims</h3>
      <p>• The prelims for func(64 Wit) will be held on-site.
         • 8 teams will qualify for the stage round.
         • The rules for prelims will be announced on the spot.
      </p>
      <h3>On-stage round</h3>
      <p>• The event will be diversifying as the rounds progress.
         • Each team will be provided with 2 loaded machines.
         • Use of all languages is permissible.
         • The decision of the quiz masters will be final and binding.
         • The team with the higest aggregate wins, there will not be separate awards for quiz and programming.
         • In case of a tie, a rapid fire quiz round will be in order.
      </p>
   </div>
   <div class="section" id="rush-b">
      <h2>Rush_B</h2>
      <p>Every aspect of a true gamer. Sense of focus, leadership, game sense - are all put to test in our version of the classic CS:GO 5V5. Consisting of multiple rounds, Rush_B diversifies at every stage. Teams progress through the rounds and in the end, only one remains as the true winner.</p>
      <h3>Prelims</h3>
      <p>• Upon confirming the attendance, the participants will receive the details regarding the online prelims which will be taking place on 2nd October' 2019.
         • 8 teams of 5 each will be selected for the on-site event however, only one player can participate in the prelims from each team.
      </p>
      <h3>On-site round</h3>
      <p>• The on-site event will be a classic 8 team elimination bracket with teams of 5 each
         • The rules for judging will be shared through the Slack channel.
         • In case of a tie, a rematch would be in order.
         • Decision of the judges will be final and binding.
         • All participants are requested to bring their own hardware. Only basic peripherals except headphones would be provided. 
      </p>
   </div>
</div>
<a ui-sref="home">↤ Home</a>
