<style type="text/css">
   h3 {
   font-family: Ubuntu;
   font-size: 1.15em;
   color: #A0A0A0;
   font-weight: bold;
   padding-top: 10px;
   }
</style>
<div class="ui-state container" id="events">
   <h1>Events</h1>
   <div class="hr"></div>
   <div class="section" id="9">
      <h2>Function Overload</h2>
      <p>A clash of creativity in which participant
         teams compete to create the best piece
         by completing an unfinished specimen of a
         classic genre.
      </p>
      <br>
      <p>Teams per school : 2<br>Members per team : 2</p>
      <h3>Prelims</h3>
      <p>The Preliminary round will take place on
         HackerRank with top 6 teams qualifying
         for the Finals.
      </p>
      <h3>Finals</h3>
      <p>The participants will be given a broad
         storyline which is to be coded into a
         Role-Player Game (RPG) game using
         Python/C++.<br>
         The participants will receive storylines
         on slack channel and then will be given a
         total time of 2 days to create their game
         with necessary mechanics. They will also
         be provided with a sample RPG game to
         get a broad idea.
      <h3>Rules</h3>
      <p>• Participants can refer to the internet but
         directly copying exact codes will lead to
         the disqualification of the team.<br>
         • Any submissions after the deadline will not
         be considered.<br>
         • Partial codes can be submitted and points
         will be given accordingly.<br>
         • Submissions guidelines will be put up on
         the Slack Channel.
      </p>
      <br><br>
      <p>For more details, check the official Slack channel.</p>
   </div>
   <div class="section" id="8">
      <h2>HyperText{x}</h2>
      <p>A sandbox web-dev competition with challenges
         handpicked by ProjectBeta's premier web dev
         department.
      </p>
      <br>
      <p>Teams per school : 2<br>Members per team : 2</p>
      <h3>Prelims</h3>
      <p>Not required.
      </p>
      <h3>Finals</h3>
      <p>The participants will have to make a
         website replicating the look of the
         home screen of a famous gaming
         console.<br>
      <h3>Rules</h3>
      <p>• Languages Allowed - JQuery, HTML,
         CSS, and JavaScript.<br>
         • Remember, quality is more important
         than quantity.We would prefer that
         you make your own graphics and
         illustrations.<br>
      </p>
      <br><br>
      <p>For more details, check the official Slack channel.</p>
   </div>
   <div class="section" id="7">
      <h2>renderQ</h2>
      <p>Video editors are also known as storytellers. The event
         will test the creativity and storytelling abilities of the
         participants. They will have to create the perfect blend of
         audio &amp; visual.These editors will have to edit a movie
         of their own, with the clips provided, expressing their
         emotions and creating a tale.
      </p>
      <br>
      <p>Teams per school : 1<br>Members per team : 2</p>
      <h3>Prelims</h3>
      <p>For the prelims, the teams will be given
         two topics and footage to create a video
         on.<br>
         Participants must create a video on one of
         the given topics with the given footage.<br>
         Length of the videos should not exceed
         1:30mins - 2:00mins.
      </p>
      <h3>Finals</h3>
      <p>The teams who are selected for the
         finals will be sent an email confirming
         their selection.<br>
         The rules and topics of the finals will
         be revealed later.
         <br>
      <h3>Rules</h3>
      <p>• Software allowed are Adobe Premiere
         Pro, Sony Vegas & DaVinci Resolve.
         <br>
      </p>
      <br><br>
      <p>For more details, check the official Slack channel.</p>
   </div>
   <div class="section" id="6">
      <h2>Ctrl+Alt+Create</h2>
      <p>Competitors will rely on their skill with
         designing software and their aptitude for
         design as they navigate through the
         expertly crafted tasks set to them by
         PB’s designing squad.
      </p>
      <br>
      <p>Teams per school : 1<br>Members per team : 2</p>
      <br>
      <p>Competitors will rely on their skill with
         designing software and their aptitude for
         design as they navigate through the
         expertly crafted tasks set to them by
         PB’s designing squad.
      </p>
      <h3>Artwork-1</h3>
      <p>The teams would be asked to design
         one Letter, similar to the ideas of 36daysoftype.
         The letter has to be themed on a movie series,
         video games, comic universe, sports personality,
         etc.<br>
         The specific letter would be decided for
         each team using a randomiser during a
         google meet. Each team will be given a
         distinct letter.
      </p>
      <h3>Artwork-2</h3>
      <p>The teams would be
         provided with a PSD vector of a high-top
         sneaker.<br>
         The students may use only inbuilt tools
         and brushes. The shape of the
         components must not be altered.<br>
         Participants would also be required to
         name the shoe they recreate.<br>
         The Submission Guidelines will be put
         up on the Slack Channel.
         <br>
      </p>
      <br><br>
      <p>For more details, check the official Slack channel.</p>
   </div>
   <div class="section" id="5">
      <h2>64Wit</h2>
      <p>A clash of creativity in which participant
         teams compete to create the best piece
         by completing an unfinished specimen of a
         classic genre.
      </p>
      <br>
      <p>Teams per school : 1<br>Members per team : 2</p>
      <br>
      <p>The Quiz will be based on
         Entrepreneurship. There will be one
         preliminary round. The six highest
         scoring teams at the end of
         preliminaries will be selected for the
         finals.
      </p>
      <h3>Rules</h3>
      <p>• The team with maximum points in the
         final round wins.<br>
         • The word of the quizmasters is final and
         binding.
      </p>
      <br><br>
      <p>For more details, check the official Slack channel.</p>
   </div>
   <div class="section" id="4">
      <h2>BetaTest</h2>
      <p>The BetaTest is the ultimate, unparalleled online
         scavenger hunt which offers an unprecedented
         assortment of gruelling questions, which participants
         engage in a cryptic hunt of epic proportions through the
         obscure marshes of the vast Internet to complete.
      </p>
      <br>
      <p>Teams per school : 1<br>Members per team : ∞</p>
      <br>
      <p>BetaTest involves many level and your
         goal is to find the correct answer and
         proceed to the next level.
      </p>
      <p>You need you to be able to think on
         your feet and connect the dots and
         make meaning out of seemingly
         random clues. The event will be
         conducted and will span over 48 hours.
      </p>
      <p>More information will be provided on
         the Slack channel.
      </p>
      <br><br>
      <p>For more details, check the official Slack channel.</p>
   </div>
   <div class="section" id="3">
      <h2>(In)vested Interests</h2>
      <p>Competitors with inventive minds and a
         spark for entrepreneurship will fight for the
         title in front of a team of experienced
         panelists, presenting the websites and
         pitching their ideas to prove that they are
         the finest innovators and second to none.
      </p>
      <br>
      <p>Teams per school : 1<br>Members per team : 4 (2 pitch 2 tech)</p>
      <br>
      <p>The participants will have to create a techbased MVP product or service that they will
         pitch to the judges. The product should aim
         at solving the online classes problem for
         the underprivileged sections of society.
      </p>
      <br>
      <p>The participants will be required to make a
         pitch deck for the same. It is advisable to
         include slides pertaining to the
         functionality, business model, USPs, market
         size, promotion and marketing strategies
         etc.It is beneficial to include multimedia
         content like 3D renders and mockups of
         the product, infotainment videos,
         animations etc.
      </p>
      <h3>Round-1</h3>
      <p>In the first round, participants will have
         to send us a document summarizing
         their idea and all resources they
         require for it, the pitch deck will be
         judged on the basis of content,
         originality, design etc.
      </p>
      <h3>Round-2</h3>
      <p>In the second round, a pitch will be
         conducted through video conferencing
         where the participants will be judged
         based on factors such as practical
         feasibility, economic viability,
         practicality, need etc.
      </p>
      <p>More information will be provided on
         the Slack channel.
      </p>
      <br><br>
      <p>For more details, check the official Slack channel.</p>
   </div>
   <div class="section" id="2">
      <h2>Corporate Cabinet</h2>
      <p>This event will simulate two cabinets of rival
         companies-Apple and Microsoft. There is an
         ongoing corporate war between the two.
      </p>
      <br>
      <p>Teams per school : 1<br>Members per team : 2</p>
      <br>
      <p>A committee simulating the cabinets
         of two rival companies-Apple and
         Microsoft during a ongoing
         corporate war.
      </p>
      <br>
      <h3>Prelims</h3>
      <p>A form will be released, with
         questions that would test the
         problem solving skills of the
         prospective participants.
      </p>
      <h3>Finals</h3>
      <p>The event is a stimulated conference that
         engages participants through intricate
         scenarios and comprehensive debate.
         There will be two separate cabinets,
         representing the two respective
         corporations.<br>
         Debate will be done intra cabinet; the
         participants are not to relay proceedings
         of their cabinet to the rival cabinet. A
         portfolio will be provided to each
         participant.<br>
         The conference will stimulate scenarios
         that require critical thinking and logical
         analysis.
      </p>
      <p>More information will be provided on
         the Slack channel.
      </p>
      <br><br>
      <p>For more details, check the official Slack channel.</p>
   </div>
   <div class="section" id="1">
      <h2>KiloHertz</h2>
      <p>Participants will have to make a track using
         the chord progression and intro melody as
         the fundamental basis of their track.
      </p>
      <br>
      <p>Teams per school : 1<br>Members per team : 1</p>
      <br>
      <p>• Contestants would be provided with Samples,
         Audio FXs and an unfinished track. The stems of
         the unfinished track would be also provided.<br>
         • They will have to make a track with the given
         chord progression and audio files as the
         fundamental musical structure for the track.<br>
         • Softwares Allowed : FL Studio<br>
         • Third Party Plugins Allowed : Generators:
         Sylenth1, Serum, Spire, reFx Nexus Effect:
         Fabfilter Bundle, Valhalla Bundle, iZotope
         Ozone, Ohmicide, LfoTool, CamelCrusher, OTT<br>
         • The track must be at least more than 75
         sec long, with a drop.<br>
         • Participants must send the project file
         (.flp file) along with the samples and final
         exported audio (preferably .mp3 or .wav
         file).<br>
         • The finished audio piece would be
         judged on the basis of creativity and
         clarity of the mix.<br>
         • Submission Guidelines will be posted on
         the Slack Channel
      </p>
      <p>More information will be provided on
         the Slack channel.
      </p>
      <br><br>
      <p>For more details, check the official Slack channel.</p>
   </div>
   <div class="section" id="0">
      <h2>SideQuest X Dual Wield</h2>
      <p>A battle of the titans in a classic arena which
         will be the ultimate test of tactics and reflexes.
         Spanning over two days of fast-paced action;
         speed, skill and accuracy will decide who takes
         the prize with fair play ensured by our gaming
         teams spectating all matches.
      </p>
      <br>
      <h2>Dual Wield</h2>
      <p>Teams per school : 1<br>Members per team : 2<br>Console: PS4</p>
      <br>
      <p>Knockout ladder tournament:
         Prelims will be held before the event
         with top 8 schools qualifying for the
         onsite event. Games will be disclosed
         on Slack channel
      </p>
      <br>
      <h3>Rules</h3>
      <p>• Use of any unfair means will lead to
         direct disqualification.<br>
         • Strict discipline should be maintained
         any team found cheating or
         misbehaving will be disqualified
      </p><br><br>
      <h2>SideQuest</h2><br> 
      <p>Teams per school : 1<br>Members per team : 9 - Valorant: 5 Minecraft:
         2, Rainbow Six Siege: 1 CSGO: 1<br>Console: PC
      </p>
      <br>
      <p></p>
      <p>The main event will be Valorant: 5v5 and the
         rest of the games will be side events and will
         be concluded during the prelims.
      </p>
      <br>
      <h3>Rules</h3>
      
      
      <p>• Use of external software is strictly
         prohibited.<br>
         • Only weapons mentioned will be allowed for
         use.<br>
         • All information regarding maps being used,
         weapons allowed will be put up on the slack
         channel.
      </p>
      <br><br>
      <p>For more details, check the official Slack channel.</p>
   </div>
</div>
<a ui-sref="home">↤ Home</a>