<img class="black" src="/img/logo-white.svg"/>
<h1 class="title"><span class="project">Project</span><span class="beta">Beta</span></h1>
<h2 class="dates" title="August 18, 2018">15|08|2020 - 22|15|2020
                
                   </h2>
<div class="info flex">
   <div class="info-block" id="event-block">
      <h1>2020</h1>
      <p>ProjectBeta is back in the year 2020, with its 4th Annual Inter-School Conference on Technology and Entrepreneurship, bringing along its vast wealth of experience while also introducing unprecedented innovation.

Continuing the tradition of passing on a unique skillset, the tech guild promises to touch new heights this year.</p>
      
   </div>
   <div class="info-block" id="contact-block">
      <h1>Contact</h1>
      <p>Want to send an email? Call? Mail a letter? Or simply fill a form? Go to the <a ui-sref="contact">Contact</a> page!</p>
   </div>
   <div class="info-block" id="about-block">
      <h1>About</h1>
      <p>ProjectBeta is the tech club of <a href="http://sanskritischool.edu.in" target="_blank">Sanskriti School</a>.</p>
      <p>Taking its humble roots as a small group of talented individuals in 2013, ProjectBeta has since matured into a diverse team who have worked in tandem to inspire, organise and lead countless events and competitions to success.</p>
      <p>Constituting 120+ incredibly talented members the club has represented the school in various competitions and has grown to become one of the foremost clubs of its kind in New Delhi.</p>
   </div>
</div>