<style type="text/css">
   h3 {
   font-family: Ubuntu;
   font-size: 1.15em;
   color: #A0A0A0;
   font-weight: bold;
   padding-top: 10px;
   }
</style>
<div class="ui-state container" id="events">
   <h1>INTRA NOTIFICATIONS</h1>
   <div class="hr"></div>
   <div class="section" >
      <h2 style="text-align: center; padding-bottom: 15px;
    border-bottom: 1px solid;
    text-align: center;">Register for PB Intra</h2>
      <h3>How do I register?</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. </p><br>
      <p>• Beta-Test starts on the 2nd October, 2019 continues for the next 48 hours.<br>
         • Details can be found at www.projectbeta.tech<br>
         • Any number of participants can participate from each team.<br>
         • Points are awarded for every level cleared and bonus points are awarded to the teams placing 1st and 2nd.<br>
      </p>
   </div>
  <div class="section" >
      <h2 style="text-align: center; padding-bottom: 15px;
    border-bottom: 1px solid;
    text-align: center;">Register for PB Intra</h2>
      <h3>How do I register?</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. </p><br>
      <p>• Beta-Test starts on the 2nd October, 2019 continues for the next 48 hours.<br>
         • Details can be found at www.projectbeta.tech<br>
         • Any number of participants can participate from each team.<br>
         • Points are awarded for every level cleared and bonus points are awarded to the teams placing 1st and 2nd.<br>
      </p>
   </div><div class="section" >
      <h2 style="text-align: center; padding-bottom: 15px;
    border-bottom: 1px solid;
    text-align: center;">Register for PB Intra</h2>
      <h3>How do I register?</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. </p><br>
      <p>• Beta-Test starts on the 2nd October, 2019 continues for the next 48 hours.<br>
         • Details can be found at www.projectbeta.tech<br>
         • Any number of participants can participate from each team.<br>
         • Points are awarded for every level cleared and bonus points are awarded to the teams placing 1st and 2nd.<br>
      </p>
   </div><div class="section" >
      <h2 style="text-align: center; padding-bottom: 15px;
    border-bottom: 1px solid;
    text-align: center;">Register for PB Intra</h2>
      <h3>How do I register?</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. </p><br>
      <p>• Beta-Test starts on the 2nd October, 2019 continues for the next 48 hours.<br>
         • Details can be found at www.projectbeta.tech<br>
         • Any number of participants can participate from each team.<br>
         • Points are awarded for every level cleared and bonus points are awarded to the teams placing 1st and 2nd.<br>
      </p>
   </div>
</div>
<a ui-sref="home">↤ Home</a>