<div class="ui-state container" id="team">
   <h1>Interactive</h1>

   <div class="gallery container flex">
      
 <div class="section" style  = "width: 220px;height: 310px;">
         <img src="/img/profiles/TejasGandhi.jpg"/>
         <h2>Tejas Gandhi</h2>
         <h3>Head of Gaming</h3>
      </div>
      <div class="section" style  = "width: 220px;height: 310px;">
         <img src="/img/profiles/Yashwin.jpeg"/>
         <h2>Yashwin Choudhary</h2>
         <h3>Head of Gaming</h3>
      </div>
   <div class="section" style  = "width: 220px;height: 310px;">
         <img src="/img/profiles/VaibhavDimri.jpg"/>
         <h2>Vaibhav Dimri</h2>
         <h3>Head Of Surprise</h3>
      </div>
      <div class="section" style  = "width: 220px;height: 310px;">
         <img src="/img/profiles/Venkatesh.jpg"/>
         <h2>Venkatesh Gaur</h2>
         <h3>Head of Quizzing & Coordinator</h3>
         
      </div>
   
      <div class="section" style  = "width: 220px;height: 310px;">
         <img src="/img/profiles/Ram.jpeg"/>
         <h2>Ram Sinha</h2>
         <h3>Head of Quizzing</h3>
      </div>
     
<h1 style="width: 100%; margin-top: 30px">Members</h1>
      
         <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Aryaan</h2>
         <h3>Member</h3>
      </div>
        <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Anvee Choudary</h2>
         <h3>Member</h3>
      </div>
        <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Chitwan Dhankhar</h2>
         <h3>Member</h3>
      </div>
        <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Kabir Goyal</h2>
         <h3>Member</h3>
      </div>
        <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Advitya Hajela</h2>
         <h3>Member</h3>
      </div>
        <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Dhruv Jaiswal</h2>
         <h3>Member</h3>
      </div>
        <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Ayush Kishor</h2>
         <h3>Member</h3>
      </div>
        <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Shaurya Mann</h2>
         <h3>Member</h3>
      </div>
        <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Shreeya Mishra</h2>
         <h3>Member</h3>
      </div>
        <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Animish Murthy</h2>
         <h3>Member</h3>
      </div>
        <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Vivikta Negi</h2>
         <h3>Member</h3>
      </div>
        <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Ratul Prabhu</h2>
         <h3>Member</h3>
      </div>
        <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Aviral Sachdeva</h2>
         <h3>Member</h3>
      </div>
        <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Mitash Manu Singh</h2>
         <h3>Member</h3>
      </div>
        <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Simar Tandon</h2>
         <h3>Member</h3>
      </div>

        <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Tanush Sawhney</h2>
         <h3>Member</h3>
      </div>
        <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Tanushree Saxena</h2>
         <h3>Member</h3>
      </div>
        <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Arnav Tiwari</h2>
         <h3>Member</h3>
      </div>
        <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Aditya Tiwary</h2>
         <h3>Member</h3>
      </div>
   </div>
</div>
<a ui-sref="home">↤ Home</a>
