<div class="ui-state container" id="team">
   <h1>team</h1>
   <div class="gallery container flex">
      <div class="section">
         <img src="/img/profiles/VibhhuSharma.jpg"/>
         <h2>Vibhhu Sharma</h2>
         <h3>President</h3>
         <h3>Head of Quizzing</h3>
      </div>
      <div class="section">
         <img src="/img/profiles/KrishGoel.jpg"/>
         <h2>Krish Goel</h2>
         <h3>Vice President</h3>
         <h3>Head of AI & IoT</h3>
      </div>
      <div class="section">
         <img src="/img/profiles/AmartyaChakraborty.jpg"/>
         <h2>Amartya Chakraborty</h2>
         <h3>Head of Design</h3>
      </div>
      <div class="section">
         <img src="/img/profiles/JayaniTripathi.jpg"/>
         <h2>Jayani Tripathi</h2>
         <h3>Head of Programming</h3>
      </div>
      <div class="section">
         <img src="/img/profiles/ParthSarthi.jpg"/>
         <h2>Parth Sarthi</h2>
         <h3>Head of Pitching</h3>
      </div>
      <div class="section">
         <img src="/img/profiles/PulakGautam.jpg"/>
         <h2>Pulak Gautam</h2>
         <h3>Head of Audio engineering</h3>
      </div>
      <div class="section">
         <img src="/img/profiles/SarthakBhatnagar.jpg"/>
         <h2>Sarthak Bhatnagar</h2>
         <h3>Head of Gaming</h3>
      </div>
      <div class="section">
         <img src="/img/profiles/VaibhavDimri.jpg"/>
         <h2>Vaibhav Dimri</h2>
         <h3>Head of Web Development</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Member name</h2>
         <h3>Member</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Member name</h2>
         <h3>Member</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Member name</h2>
         <h3>Member</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Member name</h2>
         <h3>Member</h3>
      </div>
   </div>
</div>
<a ui-sref="home">↤ Home</a>