<div class="ui-state container" id="team">
   <h1>team</h1>
   <div class="gallery container flex">
      <div class="section">
         <img src="/img/profiles/VibhhuSharma.jpg"/>
         <h2>Vibhhu Sharma</h2>
         <h3>President</h3>
         <h3>Head of Quizzing</h3>
      </div>
      <div class="section">
         <img src="/img/profiles/KrishGoel.jpg"/>
         <h2>Krish Goel</h2>
         <h3>Vice President</h3>
         <h3>Head of AI & IoT</h3>
      </div>
      <div class="section">
         <img src="/img/profiles/AmartyaChakraborty.jpg"/>
         <h2>Amartya Chakraborty</h2>
         <h3>Head of Design</h3>
      </div>
      <div class="section">
         <img src="/img/profiles/JayaniTripathi.jpg"/>
         <h2>Jayani Tripathi</h2>
         <h3>Head of Programming</h3>
      </div>
      <div class="section">
         <img src="/img/profiles/ParthSarthi.jpg"/>
         <h2>Parth Sarthi</h2>
         <h3>Head of Pitching</h3>
      </div>
      <div class="section">
         <img src="/img/profiles/PulakGautam.jpg"/>
         <h2>Pulak Gautam</h2>
         <h3>Head of Audio engineering</h3>
      </div>
      <div class="section">
         <img src="/img/profiles/SarthakBhatnagar.jpg"/>
         <h2>Sarthak Bhatnagar</h2>
         <h3>Head of Gaming</h3>
      </div>
      <div class="section">
         <img src="/img/profiles/VaibhavDimri.jpg"/>
         <h2>Vaibhav Dimri</h2>
         <h3>Head of Web Development</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Aaryan Arora</h2>
         <h3>Gaming</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Adithi Ramesh</h2>
         <h3>Programming</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Aman Sinha</h2>
         <h3>Quizzing</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Aryan Sharma</h2>
         <h3>Gaming</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Atulya Singh</h2>
         <h3>Gaming</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Dhruv Singh</h2>
         <h3>Gaming</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Dia Bhalothia</h2>
         <h3>Design</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Harsh V. Singhal</h2>
         <h3>AI & IoT</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Kanha Singh</h2>
         <h3>Programming</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Kaustabh Bansal</h2>
         <h3>Design</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Ketan Kumar</h2>
         <h3>Audio engineering</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Mantek Singh Burn</h2>
         <h3>Videography</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Mihir Singh</h2>
         <h3>Web development</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Mohit Mahapatra</h2>
         <h3>Gaming</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Puranjay Chawla</h2>
         <h3>Programming</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Ram Sinha</h2>
         <h3>Design</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Raghav Sarangi</h2>
         <h3>AI & IoT</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Shorya Mehra</h2>
         <h3>Videography</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Smayan Satpute</h2>
         <h3>AI & IoT</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Somin Narain</h2>
         <h3>Gaming</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Taran Singh</h2>
         <h3>Programming</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Tejas Gandhi</h2>
         <h3>Gaming</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Venkatesh Gaur</h2>
         <h3>Programming</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Yash Deswal</h2>
         <h3>Logistics</h3>
      </div>
   </div>
</div>
<a ui-sref="home">↤ Home</a>
