<div class="ui-state container" id="team">
   <h1>team</h1>
   <div class="gallery container flex">
            <div class="section" style="width: 220px;height: 310px;">
         
         <img src="/img/profiles/ParthSarthi.jpg"/>
         <h2>Parth Sarthi</h2>
         <h3>President</h3>
      </div>
            <div class="section" style="width: 220px;height: 310px;">
         
         <img src="/img/profiles/ShoryaMehra.jpg" style="object-fit: cover;" />
         <h2>Shorya Mehra</h2>
         <h3>Vice President</h3>
         
      </div>
            <div class="section" style="width: 220px;height: 310px;">
        
         <img src="/img/profiles/Mohit.jpeg"/>
         <h2>Mohit Mahapatra</h2>
         <h3>Secretary</h3>
      </div>
      
     
      
      
           <div class="section" style="padding-top: 25px; max-height: 100px;width:190px;">
   
     
         <h2>Jayani Tripathi</h2>
         <h3>Head of AI and IoT</h3>
      </div>      <div class="section" style="padding-top: 25px; max-height: 100px;width:190px;">
         
    
         <h2>Krish Goel</h2>
         <h3>Head of AI and IoT</h3>
      </div>      <div class="section" style="padding-top: 25px; max-height: 100px;width:190px;">
   
         <h2>Aadi Jain</h2>
         <h3>Head of Web Development</h3>
      </div>      <div class="section" style="padding-top: 20px; max-height: 100px;width:190px;">
         
         <h2>Amartya Chakraborthy</h2>
         <h3>Head of Design</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;width:190px0">
   
         <h2>Kartikay Kataria</h2>
         <h3>Head of design</h3>
      </div>         <div class="section" style="padding-top: 20px; max-height: 100px;width:190px;">
      
         <h2>Pulak Gautam</h2>
         <h3>Head of Audio Engineering</h3>
      </div>      <div class="section" style="padding-top: 25px; max-height: 100px;width:190px;">
      
         <h2>Tejas Gandhi</h2>
         <h3>Head of Gaming</h3>
      </div>      <div class="section" style="padding-top: 25px; max-height: 100px;width:190px;">
   
         <h2>Yashwin Chowdhary</h2>
         <h3>Head of Gaming</h3>
      </div>      <div class="section" style="padding-top: 25px; max-height: 100px;width:190px;">
     
         <h2>Aman Sinha</h2>
         <h3>Head of Programming </h3>
      </div>      <div class="section" style="padding-top: 20px; max-height: 100px;width:190px;">
 
         <h2>Harsh V. Singhal</h2>
         <h3>Head of Programming </h3>
      </div>          <div class="section" style="padding-top: 20px; max-height: 100px;width:190px;">
      
         <h2>Mantek Singh Burn</h2>
         <h3>Head of A/V Editing & Logistics</h3>
      </div>      <div class="section" style="padding-top: 25px; max-height: 100px;width:190px;">
       
         <h2>Vaibhav Dimri</h2>
         <h3>Head of Surprise</h3>
      </div>      <div class="section" style="padding-top: 25px; max-height: 100px;width:190px;">
         <h2>Ram Sinha</h2>
         <h3>Head of Quiz</h3>
      </div>      <div class="section" style="padding-top: 25px; max-height: 100px;width:190px;">
     
         <h2>Venkatesh Gaur</h2>
         <h3>Head of Quiz & Coordinator</h3>
      </div>      
        
      
      
     <h1 style="width: 85%; opacity: 0.2"></h1>




      
      
      
      

      
      
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Kanha Singh
</h2>
         <h3>Junior Coordinator</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Puranjay Chawala
</h2>
         <h3>Junior Coordinator</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Mudith Agarwala
</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Anhad Ahluwalia</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Ayaan Alam</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Navvye Anand</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Keshav Ananth</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Tejas Arora</h2>
         <h3>Member</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Aaryan Arora</h2>
         <h3>Gaming</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Athavan Arvind</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Aseem Pabhakar</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Ashlyn Bansal</h2>
         <h3>Member</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Kaustabh Bansal</h2>
         <h3>Design</h3>
      </div>
            <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Dia Bhalothia</h2>
         <h3>Design</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Jaskiran Kaur</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Anusha</h2>
         <h3>Member</h3>
      </div>
            
<div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Anvee Choudary</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Chitwan Dhankhar</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Nikunj Dureja</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Kushagra Ganesh</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Gayatri</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Yash Gupta</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Advika Gupta</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Advitya Hajela</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Dhruv Jaiswal</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Arnav Jaitly</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Aryaa Jha</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Jeffin Joseph</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Reyansh Juneja</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Kabir Dhir</h2>
         <h3>Member</h3>

      </div>
         <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Kabir Goyal</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Jaskiran Kaur</h2>
         <h3>Member</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Ananye Kejriwal</h2>
         <h3>Member</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Sohani Khanna</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Abhinav Khurana</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Ayush Kishor</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Aniket Kumar</h2>
         <h3>Member</h3>
      </div>
         
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Ketan Kumar</h2>
         <h3>Audio engineering</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Drishika Mahajan</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Sanchit Mahajan</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Amay Mangal</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Shaurya Mann</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Mitash Manu</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Jaskirat Singh Maskeen</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Rishi Mathur</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Shaurya Midha</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Angad Minocha</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Joshua Minz</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Shreeya Mishra</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Smayan Mohanty</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Shurjo Mukerjee</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Aditya Mukkundi</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Animish Murthy</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Dhimant Nath</h2>
         <h3>Member</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Aryaan Nalwa</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Vivikta Negi</h2>
         <h3>Member</h3></div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Somin Narain</h2>
         <h3>Member</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Ananya Oberoi</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Tanvi Pathak</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Vihaan Pathak</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Arnav Patial</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Dev Pawani</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Ratul Prabhu</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Abhinav Raj</h2>
         <h3>Member</h3>
      </div> <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Adithi Ramesh</h2>
         <h3>Programming</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Gerick Razdan</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>
Aviral Sachdeva</h2>
         <h3>Member</h3>
      </div>
            
            <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Aadhya Sivakumar</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Samriddhi Shrivastava</h2>
         <h3>Member</h3>

      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Tanush Sawhney</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Chirag Sehgal</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Nitish Sehgal</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Kiyarra Sharma</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Shivansh Shekhar</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Simar Tandon</h2>
         <h3>Member</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Raghav Sarangi</h2>
         <h3>AI & IoT</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Smayan Satpute</h2>
         <h3>Member</h3>
      </div>       <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Aryan Sharma</h2>
         <h3>Gaming</h3>
      </div>
       <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Aman Sinha</h2>
         <h3>Quizzing</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Atulya Singh</h2>
         <h3>Gaming</h3>
      </div>     <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Dhruv Singh</h2>
         <h3>Gaming</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Gunika Singh</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Naina Singh</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Pranjal Singh</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Viraj Singh</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Aditya Singh</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Taran Singh</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Agastya Singh</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Harnoor Singh</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Sharvilak Srivastav</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Arjun Taneja</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Tanushree Saxena</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Siddhant Tata</h2>
         <h3>Member</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Kaustubh</h2>
         <h3>Member</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Rongsennukla</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Arnav Tiwari</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Aditya Tiwary</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Ansh Vachher</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Krishansh Vats</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Daksh Verma</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Eshaan Vijay</h2>
         <h3>Member</h3>
      </div><div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Arnav Whig</h2>
         <h3>Member</h3>
      </div>
      <div class="section" style="padding-top: 25px; max-height: 100px;">
         <h2>Toshith Yadav</h2>
         <h3>Member</h3>
      </div>
   </div>
</div>
<a ui-sref="home">↤ Home</a>
